In [50]:
line = data['spoken_languages'].iloc[500]
arr = literal_eval(line)
nnn = [lang['name'] for lang in arr]
sorted(nnn)

['Deutsch', 'English', 'Français']

In [ ]:
# 1. find all langs that exist in training set
# 2. encode each row of langs into a vector w/ len num of langs

In [80]:
def encode_names(row, names):
  [int(name in row )for name in names]

In [79]:
[int(lang in ['English']) for lang in sorted(list(lang_set))]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [63]:
def lang_to_names(spoken_lang): # TODO: catch bad inputs
  # convert string to array of dicts
  arr = literal_eval(spoken_lang)
  # create set from array of values for "name" property
  lang_names = [lang['name'] for lang in arr]
  return lang_names

In [74]:
langs = data['genres'].dropna().apply(lang_to_names) #flatten
flat_langs = [item for sublist in langs for item in sublist]
lang_set = set(flat_langs)
lang_set

{'',
 'Afrikaans',
 'Bahasa indonesia',
 'Català',
 'Dansk',
 'Deutsch',
 'Eesti',
 'English',
 'Español',
 'Esperanto',
 'Français',
 'Gaeilge',
 'Hrvatski',
 'Italiano',
 'Kiswahili',
 'Latin',
 'Magyar',
 'Nederlands',
 'No Language',
 'Norsk',
 'Polski',
 'Português',
 'Pусский',
 'Română',
 'Slovenčina',
 'Somali',
 'Srpski',
 'Tiếng Việt',
 'Türkçe',
 'Wolof',
 'euskera',
 'isiZulu',
 'shqip',
 'suomi',
 'svenska',
 'Íslenska',
 'Český',
 'ελληνικά',
 'Український',
 'български език',
 'қазақ',
 'עִבְרִית',
 'اردو',
 'العربية',
 'فارسی',
 'پښتو',
 'हिन्दी',
 'বাংলা',
 'ਪੰਜਾਬੀ',
 'தமிழ்',
 'తెలుగు',
 'ภาษาไทย',
 '广州话 / 廣州話',
 '日本語',
 '普通话',
 '한국어/조선말'}

In [24]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

from ast import literal_eval

#metrics dependencies
from sklearn.metrics import accuracy_score,recall_score,precision_score,f1_score

#read train.csv
data = pd.read_csv('train.csv')

#display data
data.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [ ]:
#delete casts that are irrelevant
data = data.drop(columns="original_language")
data = data.drop(columns="production_countries")
data = data.drop(columns="homepage")
#delete more
data = data.drop(columns="imdb_id")
data = data.drop(columns= "poster_path")
data = data.drop(columns= "belongs_to_collection")
#delete rows where budget is 0
data= data.loc[data["budget"] != 0]
#delete rows where revenue is 0
data= data.loc[data["revenue"] != 0]
#display data dimensions
data.shape

In [ ]:
#separate the data columns into non-numerical and numerical
data_numeric = data [['id','budget','popularity','runtime','revenue']]
data_categorical = data[['genres','original_title','overview','production_companies','release_date','spoken_languages','tagline','title','Keywords','cast','crew']]

In [ ]:
#see unique values
print(data['genres'].unique())
print(data['original_title'].unique())
print(data['overview'].unique())
print(data['production_companies'].unique())
print(data['release_date'].unique())
print(data['spoken_languages'].unique())
print(data['status'].unique())
print(data['title'].unique())
print(data['Keywords'].unique())
print(data['cast'].unique())
print(data['crew'].unique())

In [ ]:
#genre encoding

# treat null values
data_categorical['genres'].fillna('NA', inplace = True)

# separate all genres into one list, considering comma + space as separators
genre = data_categorical['genres'].str.split(', ').tolist()

# flatten the list
flat_genre = [item for sublist in genre for item in sublist]

# convert to a set to make unique
set_genre = set(flat_genre)

# back to list
unique_genre = list(set_genre)

# remove NA
unique_genre.remove('NA')

# create columns by each unique genre
df = data_categorical.reindex(data_categorical.columns.tolist() + unique_genre, axis=1, fill_value=0)

# for each value inside column, update the dummy
for index, row in df.iterrows():
    for val in row.genres.split(', '):
        if val != 'NA':
            df.loc[index, val] = 1

df.drop('genres', axis = 1, inplace = True)  
#df 
#df.drop(axis)

In [ ]:
#producion_companies encoding

# treat null values
data_categorical['production_companies'].fillna('NA', inplace = True)

# separate all genres into one list, considering comma + space as separators
production_companies = data_categorical['production_companies'].str.split(', ').tolist()

# flatten the list
flat_production_companies = [item for sublist in production_companies for item in sublist]

# convert to a set to make unique
set_production_companies = set(flat_production_companies)

# back to list
unique_production_companies = list(set_production_companies)

# remove NA
unique_production_companies.remove('NA')

# create columns by each unique genre
da = data_categorical.reindex(data_categorical.columns.tolist() + unique_production_companies, axis=1, fill_value=0)

# for each value inside column, update the dummy
for index, row in da.iterrows():
    for val in row.production_companies.split(', '):
        if val != 'NA':
            da.loc[index, val] = 1

da.drop('production_companies', axis = 1, inplace = True)  
da

In [ ]:
#spoken_languages encoding
data_categorical['spoken_languages'].fillna('NaN', inplace = True)

# separate all genres into one list, considering comma + space as separators
spoken_languages = data_categorical['spoken_languages'].str.split(', ').tolist()

# flatten the list
flat_spoken_languages = [item for sublist in spoken_languages for item in sublist]

# convert to a set to make unique
set_spoken_languages = set(flat_spoken_languages)

# back to list
unique_spoken_languages = list(set_spoken_languages)

# remove NA
#unique_spoken_languages.remove('NAN')

# create columns by each unique genre
ds = data_categorical.reindex(data_categorical.columns.tolist() + unique_spoken_languages, axis=1, fill_value=0)

# for each value inside column, update the dummy
for index, row in ds.iterrows():
    for val in row.spoken_languages.split(', '):
        if val != 'NA':
            ds.loc[index, val] = 1

ds.drop('spoken_languages', axis = 1, inplace = True)  
ds

In [ ]:
#crew encoding

# treat null values
data_categorical['crew'].fillna('NaN', inplace = True)

# separate all genres into one list, considering comma + space as separators
crew = data_categorical['crew'].str.split(', ').tolist()

# flatten the list
flat_crew= [item for sublist in crew for item in sublist]

# convert to a set to make unique
set_crew = set(flat_crew)

# back to list
unique_crew = list(set_crew)

# remove NA
#unique_crew.remove('NA')

# create columns by each unique genre
dcr = data_categorical.reindex(data_categorical.columns.tolist() + unique_crew, axis=1, fill_value=0)

# for each value inside column, update the dummy
for index, row in dcr.iterrows():
    for val in row.crew.split(', '):
        if val != 'NaN':
            dcr.loc[index, val] = 1

dcr.drop('crew', axis = 1, inplace = True)  
dcr

In [ ]:
#cast encoding

#crashed Jordan's laptop

# treat null values
df['cast'].fillna('NA', inplace = True)

# separate all cast members into one list, considering comma + space as separators
genre = df['cast'].str.split(', ').tolist()

# flatten the list
flat_cast = [item for sublist in genre for item in sublist]

# convert to a set to make unique
set_cast = set(flat_cast)

# back to list
unique_cast = list(set_cast)

# remove NA
unique_cast.remove('NA')

# create columns by each unique genre
df = df.reindex(df.columns.tolist() + unique_cast, axis=1, fill_value=0)

# for each value inside column, update the dummy
for index, row in df.iterrows():
    for val in row.column.split(', '):
        if val != 'NA':
            df.loc[index, val] = 1

df.drop('cast', axis = 1, inplace = True)    
df

In [ ]:
#hot encoding/categorizing nonnumeric attempt
#data_categorical_encoded = pd.get_dummies(data_categorical, prefix_sep='', drop_first=True)
#data_categorical_encoded.head()
#
##testing
#print(data_categorical_encoded.shape)
#data_categorical_encoded.head()
#
##concat nonnumeric with numeric
#data_new = pd.concat([data_numeric,data_categorical_encoded], axis=1)
#data_new.head()

#original encoding attempt

In [ ]:
#dummy classifer
#X = data_new.drop(['budget'],axis=1)
#y = data_new['budget']
#
##perform training and test split
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)
#
##Dummy Classifier
#from sklearn.dummy import DummyClassifier
#clf = DummyClassifier(strategy= 'most_frequent').fit(X_train,y_train)
#y_pred = clf.predict(X_test)
#
##Distribution of y test
#print('y actual : \n' +  str(y_test.value_counts()))
#
##Distribution of y predicted
#print('y predicted : \n' + str(pd.Series(y_pred).value_counts()))


#tried using this, but it inlcuded every combination of descriptors as one feature

In [ ]:
print('Accuracy Score : ' + str(accuracy_score(y_test,y_pred)))
print('Precision Score : ' + str(precision_score(y_test,y_pred, average='weighted')))
print('Recall Score : ' + str(recall_score(y_test,y_pred, average='weighted')))
print('F1 Score : ' + str(f1_score(y_test,y_pred, average='weighted')))

#Dummy Classifier Confusion matrix
from sklearn.metrics import confusion_matrix
print('Confusion Matrix : \n' + str(confusion_matrix(y_test,y_pred)))